<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <title>東京電力電力供給状況API</title>
  </head>
  <body>
    <h1>東京電力電力供給状況API</h1>

    {% if usage %}
      <h2>最新状況</h2>
      <p>
	時刻：{{ usage.year }}/{{ usage.month }}/{{ usage.day }} {{ usage.hour }}時台<br/>
	計画停電：{{ "実施中" if usage.saving else "実施無し" }}<br/>
	使用率：{{ usage.usage / usage.capacity * 100 }}%<br/>
	消費電力：{{ usage.usage }}万kW<br/>
	供給可能最大電力：{{ usage.capacity }}万kW
      </p>
    {% endif %}

    <h2>概要</h2>
    <p>
      <a href="http://www.tepco.co.jp/en/forecast/html/index-e.html">http://www.tepco.co.jp/en/forecast/html/index-e.html</a>からHTMLの文字データと画像データを取得し、解析する事によって、使用状況を「推定」しています。
      東京電力のサイトに与える負荷は最低限となるように配慮しています。
      2011/3/23以降のデータをすべて保持する予定です。
      東京電力は、どうやら手作業で更新しているらしく、ときどき、HTMLの内容や画像内の図形の位置が変わる事があります。
      ある程度は自動的に追従するようにしてありますが、追従がうまくいかない場合には、手作業で追従させる必要があります。
      データが更新されていない、値がおかしいという状況があったら、教えてください。
      ご連絡は、このページ最後に記したTwitterアカウントにお願いします。
      <ul>
	<li>UTCにするべきじゃなかったかも…</li>
      </ul>
    </p>

    <h2>APIの例</h2>
    <p>
      URLに日時を与えて、単純にGETしてください。<br/>
      データが存在しない場合には404のエラーになります。
      <ul>
	<li>
	  <a href="http://tepco-usage-api.appspot.com/latest.json">http://tepco-usage-api.appspot.com/latest.json</a><br/>
	  最新の電力使用状況を返します。
	</li>
	<li>
	  <a href="http://tepco-usage-api.appspot.com/{{ today.year }}/{{ today.month }}/{{ today.day }}/{{ today.hour }}.json">http://tepco-usage-api.appspot.com/{{ today.year }}/{{ today.month }}/{{ today.day }}/{{ today.hour }}.json</a><br/>
	  指定された日時の電力使用状況を返します。<br/>
	  URLは/YYYY/MM/DD/HH.jsonという形式です。<br/>
	  月日時は1桁でも2桁でもかまいません。
	</li>
	<li>
	  <a href="http://tepco-usage-api.appspot.com/{{ today.year }}/{{ today.month }}/{{ today.day }}.json">http://tepco-usage-api.appspot.com/{{ today.year }}/{{ today.month }}/{{ today.day }}.json</a><br/>
	  指定された日の毎時の電力使用状況を、配列として返します。<br/>
	  URLは/YYYY/MM/DD.jsonという形式です。<br/>
	  月日は1桁でも2桁でもかまいません。
	</li>
	<li>
	  <a href="http://tepco-usage-api.appspot.com/{{ today.year }}/{{ today.month }}.json">http://tepco-usage-api.appspot.com/{{ today.year }}/{{ today.month }}.json</a><br/>
	  指定された月の毎日毎時の電力使用状況を、配列として返します。<br/>
	  URLは/YYYY/MM.jsonという形式です。<br/>
	  月は1桁でも2桁でもかまいません。
	</li>
      </ul>
    </p>

    <h2>データの説明</h2>
    <p>
      <dl>
	<dt>year</dt>
	<dd>年</dd>
	<dt>month</dt>
	<dd>月</dd>
	<dt>day</dt>
	<dd>日</dd>
	<dt>hour</dt>
	<dd>時刻（24時間制）</dd>
	<dt>entryfor</dt>
	<dd>この時刻の文字列（<b>UTCなので注意</b>）</dd>
	<dt>capacity</dt>
	<dd>供給可能最大電力（万kW）</dd>
	<dt>capacity_updated</dt>
	<dd>供給可能最大電力が決定された日時（<b>UTCなので注意</b>）</dd>
	<dt>usage</dt>
	<dd>この時刻の消費電力（万kW）</dd>
	<dt>usage_updated</dt>
	<dd>この消費電力のデータが更新された日時（<b>UTCなので注意</b>）</dd>
	<dt>saving</dt>
	<dd>この時刻に計画停電が実施されていればtrue</dd>
      </dl>
    </p>

    <h2>履歴</h2>
    <p>
      <ul>
	<li>
	  2011-3-23
	  電力量を10万kW単位に切り上げていたのをやめました。
	</li>
	<li>
	  2011-3-23
	  このページ先頭に、現在の最新状況を表示するようにしました。
	</li>
	<li>
	  2011-3-23
	  公開
	</li>
      </ul>
    </p>

    <hr/>
    更新日：2011-3-23<br/>
    連絡先：<a href="http://twitter.com/ssci">http://twitter.com/ssci</a><br/>
    ソース：<a href="https://github.com/sgk/tepco-usage-api">https://github.com/sgk/tepco-usage-api</a>
  </body>
</html>
