<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <script src="http://platform.twitter.com/anywhere.js?id=APIKEY&v=1"></script>
    <title>東京電力電力供給状況API</title>
    <script type="text/javascript">
    twttr.anywhere(function(twitter) {
          twitter.hovercards();
          twitter.linkifyUsers();
    });
    </script>
  </head>
  <body>
    <h1>東京電力電力供給状況API</h1>

    <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Ftepco-usage-api.appspot.com%2F&amp;layout=standard&amp;show_faces=false&amp;width=450&amp;action=like&amp;font&amp;colorscheme=light&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:35px;" allowTransparency="true"></iframe>

    {% if usage %}
      <h2>最新状況</h2>
      <p>
	時刻：{{ usage.year }}/{{ usage.month }}/{{ usage.day }} {{ usage.hour }}時台<br/>
	計画停電：{{ "実施中" if usage.saving else "実施無し" }}<br/>
	使用率：{{ ratio }}%<br/>
	消費電力：{{ usage.usage }}万kW<br/>
	供給可能最大電力：{{ usage.capacity }}万kW
      </p>
    {% endif %}
 
{% autoescape false %}
    {{ contents }}
{% endautoescape %}

  </body>
</html>
