<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <title>東京電力電力供給状況API</title>
  </head>
  <body>
    <h1>東京電力電力供給状況API</h1>

    <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Ftepco-usage-api.appspot.com%2F&amp;layout=standard&amp;show_faces=false&amp;width=450&amp;action=like&amp;font&amp;colorscheme=light&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:35px;" allowTransparency="true"></iframe>

    {% if usage %}
      <h2>最新状況</h2>
      <p>
	時刻：{{ usage.year }}/{{ usage.month }}/{{ usage.day }} {{ usage.hour }}時台<br/>
	計画停電：{{ "実施中" if usage.saving else "実施無し" }}<br/>
	使用率：{{ ratio }}%<br/>
	消費電力：{{ usage.usage }}万kW<br/>
	供給可能最大電力：{{ usage.capacity }}万kW
      </p>
    {% endif %}

    <h2>概要</h2>
    <p>
      APIなので、プログラマの方向けです。
      プログラマじゃない方は、この下の「応用例」をご覧ください。
    </p>
    <p>
      <a href="http://www.tepco.co.jp/en/forecast/html/index-e.html">http://www.tepco.co.jp/en/forecast/html/index-e.html</a>からHTMLの文字データと画像データ、使用量のCSVデータを取得し、解析する事によって、使用状況を「推定」しています。
      東京電力のサイトに与える負荷は最低限となるように配慮しています。
      2011/3/23以降のデータをすべて保持する予定です。
      東京電力は、どうやら手作業で更新しているらしく、ときどき、HTMLの内容や画像内の図形の位置が変わる事があります。
      ある程度は自動的に追従するようにしてありますが、追従がうまくいかない場合には、手作業で追従させる必要があります。
      データが更新されていない、値がおかしいという状況があったら、教えてください。
      ご連絡は、このページ最後に記したTwitterアカウントにお願いします。
    </p>

    <h2>応用例</h2>
    <p>
      プログラマじゃない方が今すぐ使える応用例です。
      アプリを作った方はお知らせください。ここに掲載します。
      <ul>
	<li>
	  Twitterボット <a href="http://twitter.com/kubotter_jp">東京電力供給状況Bot @kubotter_jp</a>
	</li>
	<li>
	  Android用アプリ <a href="https://market.android.com/details?id=me.nakaya.dev.tepcooalert">(非公式)東京電力電力需給チェッカー</a>
	</li>
	<li>
	  Chrome用機能拡張 <a href="https://chrome.google.com/extensions/detail/lfmonelbfopoomjhfdkgncjgdaacakng">でんきしようりょう</a>（やまりょーさん）
	</li>
	<li>
	  Chrome用機能拡張 <a href="https://chrome.google.com/webstore/detail/gnocfjmldbnlkjkolgdbogpobnmdhpjn">東京電力の電力使用状況</a>（<a href="http://twitter.com/yoshikinoko">@yoshikinoko</a>さん）
	</li>
	<li>
	  Twitterボット <a href="http://twitter.com/denden_bot">東電の使用状況 @denden_bot</a>
	</li>
      </ul>
    </p>

    <h2>APIの例</h2>
    <p>
      <ul>
	<li>
	  <a href="/latest.json">http://tepco-usage-api.appspot.com/latest.json</a><br/>
	  最新の電力使用状況を返します。
	</li>
	<li>
	  <a href="/{{ today.year }}/{{ today.month }}/{{ today.day }}/{{ today.hour }}.json">http://tepco-usage-api.appspot.com/{{ today.year }}/{{ today.month }}/{{ today.day }}/{{ today.hour }}.json</a><br/>
	  指定された日時の電力使用状況を返します。<br/>
	  URLは/YYYY/MM/DD/HH.jsonという形式です。<br/>
	  月日時は1桁でも2桁でもかまいません。
	</li>
	<li>
	  <a href="/{{ today.year }}/{{ today.month }}/{{ today.day }}.json">http://tepco-usage-api.appspot.com/{{ today.year }}/{{ today.month }}/{{ today.day }}.json</a><br/>
	  指定された日の毎時の電力使用状況を、配列として返します。<br/>
	  URLは/YYYY/MM/DD.jsonという形式です。<br/>
	  月日は1桁でも2桁でもかまいません。
	</li>
	<li>
	  <a href="/{{ today.year }}/{{ today.month }}.json">http://tepco-usage-api.appspot.com/{{ today.year }}/{{ today.month }}.json</a><br/>
	  指定された月の毎日毎時の電力使用状況を、配列として返します。<br/>
	  URLは/YYYY/MM.jsonという形式です。<br/>
	  月は1桁でも2桁でもかまいません。
	</li>
      </ul>
    </p>

    <h2>APIの使い方</h2>
    <p>
      <ul>
	<li>URLに日時を与えて、GETまたはPOSTしてください。</li>
	<li>URLの最後に「?callback=<i>コールバック関数名</i>」を付けると、JSONPになります。関数名に使える文字は、英数字と「_」と「.」です。それ以外の文字が入っていると404のエラーになります。</li>
	<li>データが存在しない場合には404のエラーになります。</li>
	<li>Adobe Flashのために、「/crossdomain.xml」が有ります。</li>
      </ul>
    </p>

    <p>
      以下のようなデータが返ってきます。
      日あるいは月のデータを取得すると、配列の中に以下のようなデータが並んだ物が返ってきます。
      <dl>
	<dt>year</dt>
	<dd>年</dd>
	<dt>month</dt>
	<dd>月</dd>
	<dt>day</dt>
	<dd>日</dd>
	<dt>hour</dt>
	<dd>時刻（24時間制、日本時間）</dd>
	<dt>entryfor</dt>
	<dd>この時刻の文字列（<b>UTCなので注意</b>）</dd>
	<dt>capacity</dt>
	<dd>供給可能最大電力（万kW）</dd>
	<dt>capacity_updated</dt>
	<dd>供給可能最大電力が決定された日時（<b>UTCなので注意</b>）</dd>
	<dt>usage</dt>
	<dd>この時間帯の消費電力（万kW）</dd>
	<dt>usage_updated</dt>
	<dd>この消費電力のデータが更新された日時（<b>UTCなので注意</b>）</dd>
	<dt>saving</dt>
	<dd>この時間帯に計画停電が実施されていればtrue</dd>
      </dl>
    </p>

    <h2>メモ</h2>
    <p>
      <ul>
	<li>
	  Google App Engine上で動作させています。
	  ある程度の負荷には耐えるはずです。
	</li>
	<li>UTCにするべきじゃなかったかも…</li>
      </ul>
    </p>

    <h2>履歴</h2>
    <p>
      <ul>
	<li>
	  2011-3-24 <a href="https://github.com/withgod">withgodさん</a>からの<a href="https://github.com/sgk/tepco-usage-api/pull/1">プルリクエスト</a>をマージしました。JSONPのcallback関数名をチェックします。POSTも使えるようにしました。
	</li>
	<li>
	  2011-3-24 JSONPに対応しました。
	  Adobe Flashのための「/crossdomain.xml」を置きました。
	</li>
	<li>
	  2011-3-24
	  東京電力がCSV形式で数値を提供してくれるようになったので、このデータも使用するようにしました。
	  これに伴い、電力量は10万kW単位になりました。
	  やはり、最大供給可能電力、計画停電の実施かどうかなどのデータの取得のために、HTMLテキストや画像データも使用しています。
	  23日の記録を、CSVから得た値に修正しました。
	</li>
	<li>
	  2011-3-23
	  電力量を10万kW単位に切り上げていたのをやめました。
	</li>
	<li>
	  2011-3-23
	  このページ先頭に、現在の最新状況を表示するようにしました。
	</li>
	<li>
	  2011-3-23
	  公開
	</li>
      </ul>
    </p>

    <hr/>
    更新日：2011-3-24<br/>
    連絡先：<a href="http://twitter.com/ssci">http://twitter.com/ssci</a><br/>
    ソース：<a href="https://github.com/sgk/tepco-usage-api">https://github.com/sgk/tepco-usage-api</a>
  </body>
</html>
